.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #0c3759;
}

.cards {
  margin: 91px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1264px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.card h3 {
  font-weight: 600;
  font-size: 20px;
  color: #0c3759;
}

.card .image-container {
  width: 205px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .image-container img {
  height: 100%;
  object-fit: cover;
}
