.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #0c3759;
  margin-top: 91px;
}

.quadrants {
  margin: 91px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}

.upper-quadrants {
  display: flex;
  gap: 18px;
}

.lower-quadrants {
  display: flex;
}

.quadrant1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 526px;
  height: 588px;
  border-radius: 8px;
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(
      355.45deg,
      rgba(12, 55, 89, 0.2) 42.15%,
      rgba(230, 240, 246, 0.2) 62.05%
    ),
    linear-gradient(0deg, #3da6fe, #3da6fe), rgba(0, 0, 0, 0.2);
  border: 1px solid #c5c5c5;
}

.quadrant1 .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  box-sizing: border-box;
  top: 80px;
  z-index: 30;
}

.quadrant1 .text-container h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 16px;
  margin-bottom: 25px;
}

.quadrant1 .text-container > div {
  width: 294px;
}

.quadrant1 .text-container p {
  font-weight: 500;
  font-size: 24px;
}

.quadrant1 .image-container img {
  position: absolute;
  box-sizing: border-box;
  top: 25px;
  left: 0;
  width: 100%;
}

.quadrant1 .button-container {
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 472px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quadrant2 {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.quadrant2 .top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 526px;
  height: 285px;
  border-radius: 8px;
  position: relative;
  background-image: url("../assets/home-study-laptops-card-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #c5c5c5;
}

.quadrant2 .top-container .button-container {
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quadrant2 .bottom-container {
  display: flex;
  gap: 18px;
}

.card {
  width: 254px;
  background: #e6f0f6;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  box-sizing: border-box;
}

.card .image-container {
  width: 100%;
  height: 211px;
}

.card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 7px 7px 0px 0px;
}

.card .text-container {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #3da6fe;
  border-radius: 0px 0px 8px 8px;
}

.quadrant34 {
  display: flex;
  gap: 18px;
}
