.container {
  width: 1264px;
  display: flex;
  justify-content: space-between;
  color: #c4c4c4;
  padding: 40px 0;
  box-sizing: border-box;
}

.link-group h4 {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
}

.link-group ul {
  display: flex;
  gap: 8px;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.shop-by-department {
  display: flex;
  gap: 58.67px;
}

.title {
  display: flex;
  align-items: center;
  gap: 24px;
}
